*{
    text-align: center;
    
}
body{
    background-image: url("ram\ ram\ sa.jpeg");
    background-size: 100%;
}



.box{
    
    display: inline-flex;
}
div{
    
    width : 400px;
    height : 40px;
    text-align: start;
    
}
#punit{
    text-align: center;
}
input{
    width : 200px;
    border : 1px rgb(30, 22, 12) solid;
}
button{
    width : 100px;
    
}
button:active{
    background-color: gray;
}

